@font-face{
    font-family: "Roboto";
    src: url(static/Roboto-Light.ttf);
    src: url(static/Roboto-SemiBold.ttf);
}

html, body {
  height: 100%; /* Set height to 100% of the viewport */
  width: 100%;  /* Set width to 100% of the viewport */
  margin: 0;   /* Remove default margins */
  padding: 0;  /* Remove default padding */
}

body{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto';
}


.container{
    display: grid;
    grid-template-columns: 1fr 7fr;
    height: 100vh;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: rgb(55, 150, 218);
    color: white;
    height: 100vh;
    font-style: bold;
    font-size: 20px;
    padding-right: 70px;
    margin-top: 0;
}

nav img, header img {
    height: 30px;
    width: 30px;
    margin-right: 23px;
    margin-left: 20px;
}

#anvil {
    height : 40px;
    width: 40px;
    margin-right: 10px;
}


nav div {
    display: flex;

    align-items: center;
    margin: 0px;
}

.sidebargroup1 {
    flex-direction:column;
    align-items: start;
    margin-bottom: 50px;
}

.sidebargroup1 div p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebargroup2 div p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebargroup2 {
    flex-direction: column;
    align-items: start;
    margin-bottom: 100%;
}

.dashboardlogo{

    margin: 0 0 25px 0;
}

.rightside {
    display: grid;
    grid-template-rows: 20vh 80vh;
}
header {
    display: grid;
    grid-template-rows: 1fr clamp(100px, 1.3fr, 200px);
    padding: 0px 20px 0px 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.headertop{
    display: grid;
    grid-template-columns: 75% 25%;
}

.searchbar {
    background-color: rgb(195, 195, 195);
    border-radius: 15px;
    border-style: none;
    width: 40vw;
    height: 30px;
    margin-right: 10%;
}
header div {
    display: flex;
    align-items: center;
}


.notifandprofile p {
    font-style: bold;
}

.notifandprofile img {
    margin: 10px;
}

.headerbottom {
    display: grid;
    grid-template-columns: 65% 35%;
}
.largeprofilepic{
    height: 50px;
    width: 50px;
    margin: 0px 15px 0px 25px;
}
.greetingwords{
    display: grid;
    margin: 0;
}

.hello, .helloname {
    margin: 0px 0px 5px 0px;
}

.helloname {
    font-size: 24px;
}
.headerbuttons button {
    border-radius: 15px;
    color: white;
    background-color:  rgb(55, 150, 218);
    border-style: none;
    height: 30px;
    width: 5.5rem;
    margin: 1rem;
    font-style: bold;
}

main {
    background-color: beige;
    display: grid;
    grid-template-columns: 2fr 1fr;
}